#login{
    height:500px;
    width:500px;
    border:2px solid rgb(18, 18, 246);
    border-radius:30px;
    margin-top:100px;
    margin-left:500px;
    background-color: rgb(18, 18, 246);
}
body{
    background-color:rgb(246, 246, 246);
}
#wellcome{
    height:50px;
    width:400px;
    margin-left:35px;
    font-size:30px;
    position: relative;
    top:60px;
    color:white;
    
}
#select{
      height:50px;
    width:400px;
    margin-left:40px;
    font-size:30px;
    position: relative;
    top:90px; 
    color:white;
}
#user-admin{
 height:50px;
    width:400px;
    margin-left:40px;
    font-size:30px;
    position: relative;
    top:110px; 
}
#select-option{
    border:2px solid rgb(18, 18, 246);
    border-radius:10px;
     height:50px;
    width:400px;
    font-size:20px;
}
#submit{
     height:50px;
    width:400px;
    margin-left:40px;
    font-size:20px;
    border:2px solid  rgb(18, 18, 246);
    border-radius:10px;
    position: relative;
    top:210px; 
}
#submit:hover{
    border:2px solid black;
    background-color: antiquewhite;
}
#navigation{
    height:700px;
    width: 300px;
    color:white;
    border-radius:20px;
    border:2px solid rgb(0, 4, 255);
    background-color: rgb(0, 4, 255);
    
}
#p1{
    font-size:25px;
    margin-left:80px;
    margin-top:20px;
    margin-bottom:150px;
}
#element1{
    height:100px;
    width:260px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
    background-color: rgb(0, 4, 255);
    font-size:25px;
    color: white;
    position:absolute;
   top :90px;
   left:20px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

#element2{
    height:100px;
    width:260px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
     background-color: rgb(0, 4, 255);
    font-size:25px;
    position:absolute;
     color: white;
    top:230px;
    left:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#element3{
    height:100px;
    width:260px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
     background-color: rgb(0, 4, 255);
    font-size:25px;
     color: white;
    position:absolute;
    top: 370px;
    left:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#element4{
    height:100px;
    width:260px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
     background-color: rgb(0, 4, 255);
    font-size:25px;
     color: white;
    position:absolute;
    top:500px;
    left:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#element1:hover{
    background-color:rgb(0, 106, 255) ;
} 

#element2:hover{
    background-color:rgb(0, 106, 255) ;
} 
#element3:hover{
    background-color:rgb(0, 106, 255) ;
}
#element4:hover{
    background-color:rgb(0, 106, 255) ;
} 

#date{
    position: absolute;
  top :170px;
left:600px;
border:2px solid black;
border-radius:10px;
height:40px;
width:550px;
font-size:20px;
}
#para{
    position: absolute;
  top :110px;
left:600px;
font-size:25px; 
}
#transactions{
position: absolute;
  top :20px;
left:600px;
font-size:30px;
}


#money{
position: absolute;
top :220px;
left:600px;
font-size:25px; 
}

#moneybox{
position: absolute;
border:2px solid black;
border-radius:10px;
top :280px;
left:600px;
height:40px;
width:550px;
font-size:20px;
}

#category{
position: absolute;
border:2px solid black;
border-radius:10px;
  top :400px;
left:600px;
height:50px;
width:550px;
font-size:20px;
}

#categoryPara{
position: absolute;
top :340px;
left:600px;
font-size:25px; 
}


#typePara{
position: absolute;
top :460px;
left:600px;
font-size:25px; 
}
#type{
position: absolute;
border:2px solid black;
border-radius:10px;
  top :520px;
left:600px;
height:50px;
width:550px;
font-size:20px;
}


#buttonAdd{
position: absolute;
top :620px;
left:600px;
border-radius:10px;
height:50px;
width:550px;
color:white;
border:2px solid black;
background-color:rgb(0, 0, 0);
font-size:20px;
}
#buttonAdd:active{
    color:rgb(5, 5, 5);
}

#buttonAdd:hover{
background-color: rgb(81, 77, 77);
}
#deletebut{
    height:45px;
    width:100px;
    color: white;
     position: absolute;
    left:900px;
    top:800px;
    
    font-size:20px;
    background-color:black;
    
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius:10px;
}
#deletebut:active{
background-color: rgb(233, 8, 8);

}
#deletebut:hover{
background-color: rgb(166, 163, 163);
}

#div2{
    position: absolute;
    left:720px;
    top:900px;
    font-size:30px;
}


#div4{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:1300px;
    margin: 100px;
    background-color: rgb(240, 236, 240);
    color:black;
    font-size:20px;
    position:relative;
    left:0px;
    top:200px;
    white-space:pre;
}
#income{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:200px;
    color:black;
    font-size:25px;
    background-color: rgb(183, 185, 251);
    border-radius:10px;
    border:2px solid  rgb(183, 185, 251);
    position: absolute;
    top:30px;
    left:400px;
  
}
#expensediv{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:200px;
    color:black;
    font-size:25px;
    background-color: rgb(255, 159, 159);
    border-radius:10px;
    border:2px solid rgb(255, 159, 159);
    position: absolute;
    top:30px;
    left:800px;
  
}

#balancediv{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:200px;
    color:black;
    font-size:25px;
    background-color: rgb(180, 249, 190);
    border-radius:10px;
    border:2px solid rgb(180, 249, 190);
    position: absolute;
    top:30px;
    left:1200px;
  
}

#container {
    display: inline-block;
  position:absolute;  
  top: 150px;           
  left: 140px;         
  width: 600px;
  height: 300px;

}
#lineChart {
    position:absolute;
     top: 150px;           
  left: 200px; 
  width:600px;
  height: 300px;
}


#pieContainer {
  position: absolute;
  top: 250px;     
  left: 1100px;
  display: inline-block;
  width: 400px;
  height: 300px;
}


#pieChart {
  width: 400px;
  height: 300px;
}
#deletebut{
    height:50px;
    width:100px;
    position: absolute;
    top:900px;
    left:900px;
}

#barContainer {
  position: absolute;
  top: 150px;
  left: 400px;

  width: 800px;
  height: 500px;
 
}

#barChart {
  width: 100%;
  height: 100%;
 
}


@media (max-width : 600px){
@media(max-height : 800px){

#login{
    height:300px;
    width:300px;
    border:2px solid rgb(18, 18, 246);
    border-radius:30px;
    margin-left:120px;
    margin-top:150px;
    background-color: rgb(18, 18, 246);
}
#wellcome{
    height:25px;
    width:300px;
    margin-left:25px;
    font-size:20px;
    position: relative;
    top:60px;
    color:white;
    
}
#select{
      height:25px;
    width:200px;
    margin-left:40px;
    font-size:20px;
    position: relative;
    top:90px; 
    color:white;
}
#user-admin{
 height:25px;
    width:200px;
    margin-left:40px;
    font-size:20px;
    position: relative;
    top:110px; 
}
#select-option{
    border:2px solid rgb(18, 18, 246);
    border-radius:5px;
     height:30px;
    width:200px;
    font-size:15px;
}
#submit{
     height:30px;
    width:200px;
    margin-left:40px;
    font-size:15px;
    border:2px solid  rgb(18, 18, 246);
    border-radius:5px;
    position: relative;
    top:160px; 
}

#navigation{
    height:700px;
    width: 150px;
    color:white;
    border:2px solid rgb(0, 4, 255);
    margin-top:10px;
    background-color: rgb(0, 4, 255);
}

#p1{
    font-size:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:150px;
}


#element1{
    height:50px;
    width:130px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    position:absolute;
    top :90px;
   left:20px;
}

#element2{
    height:50px;
    width:130px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    position:absolute;
    top:230px;
    left:20px;
}
#element3{
    height:50px;
    width:130px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    position:absolute;
   top: 370px;
    left:20px;
}
#element4{
    height:50px;
    width:130px;
    border: 2px solid rgb(0, 4, 255);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    position:absolute;
   top:520px;
    left:20px;
}


#date{
    position: absolute;
  top :160px;
left:200px;
height:30px;
width:150px;
font-size:15px;
}
#para{
    position: absolute;
  top :110px;
left:200px;
font-size:20px; 
}
#transactions{
position: absolute;
  top :20px;
left:200px;
font-size:20px;
}


#money{
position: absolute;
top :230px;
left:200px;
font-size:20px; 
}

#moneybox{
position: absolute;
top :280px;
left:200px;
height:30px;
width:150px;
font-size:15px;
}

#category{
position: absolute;
  top :400px;
left:200px;
height:40px;
width:170px;
font-size:15px;
}

#categoryPara{
position: absolute;
top :350px;
left:200px;
font-size:20px; 
}


#typePara{
position: absolute;
top :470px;
left:200px;
font-size:20px; 
}
#type{
position: absolute;
  top :520px;
left:200px;
height:40px;
width:180px;
font-size:15px;
}


#buttonAdd{
position: absolute;
top :620px;
left:200px;
height:50px;
width:200px;
color:white;
border:2px solid black;
background-color:rgb(0, 0, 0);
font-size:15px;
}


#div2{
    position: absolute;
    left:250px;
    top:800px;
    font-size:25px;
}


#div4{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:400px;
    margin: 100px;
    background-color: rgb(240, 236, 240);
    color:black;
    font-size:20px;
    position:relative;
    left:-30px;
    top:70px;
    white-space:pre;
}


#income{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    width:100px;
    color:black;
    font-size:15px;
    background-color: rgb(183, 185, 251);
    border-radius:10px;
    border:2px solid  rgb(183, 185, 251);
    position: absolute;
    top:30px;
    left:170px;
}

#expensediv{
    display:flex;
    justify-content: center;
    align-items: center;
     height:70px;
    width:100px;
    color:black;
    font-size:15px;
    background-color: rgb(255, 159, 159);
    border-radius:10px;
    border:2px solid rgb(255, 159, 159);
    position: absolute;
    top:30px;
    left:350px;
  
}
#balancediv{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70px;
    width:100px;
    color:black;
    font-size:15px;
    background-color: rgb(180, 249, 190);
    border-radius:10px;
    border:2px solid rgb(180, 249, 190);
    position: absolute;
    top:120px;
    left:260px;
  
}
#container {
    display: inline-block;
  position:absolute;  
  top: 120px;           
  left: 80px;         
  width: 300px;
  height: 1100px;

}
#lineChart {
    position:absolute;
     top: 150px;           
  left: 80px; 
  width:400px;
  height: 1100px;
}

#pieContainer {
  position: absolute;
  top: 470px;     
  left: 200px;
  display: inline-block;
  width: 300px;
  height: 200px;
}


#pieChart {
  width: 300px;
  height: 200px;
}
#barContainer {
  position: absolute;
  top:150px;
  left: 180px;

  width: 400px;
  height: 600px;
 
}

#barChart {
  width: 100%;
  height: 100%;
 
}

#deletebut{
    height:45px;
    width:80px;
    color: white;
     position: absolute;
    left:400px;
    top:800px;
    
    font-size:15px;
    background-color:black;
    
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius:10px;
}
#deletebut:active{
background-color: rgb(233, 8, 8);

}
#deletebut:hover{
background-color: rgb(166, 163, 163);
}


}
}